---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <img
    src="{{site.baseurl}}/assets/img/headshot.jpg"
    class="headshot"
    alt="Headshot of Will Ulman"
  />
  <div class="home-text-top">
    I’m a software engineer based in Atlanta, GA with a background in art
    history. Most recently I was a UI/UX engineer at AXYYS, Inc., where I built
    security middleware to evaluate and quarantine malicious client-side code.
    Prior to my time at AXYYS, I helped develop a digital preservation
    repository as part of a team at Emory University Libraries, using and
    contributing to open-source engines from the Samvera and Blacklight
    communities.
  </div>
  <div class="home-text-top">
    My experience designing and developing programs has opened up for me a
    variety of novel technical problems that can't be approached through
    humanistic inquiry alone. I try to leverage my programming skills, enriched
    by my arts background, to craft thoughtful and elegant solutions to those
    problems.
  </div>
  <div class="home-text-bottom">
    Before my career in engineering, I received a BA in Art History from the
    University of Chicago and undertook PhD coursework at Emory. After
    contributing research to a number of digital humanities projects during my
    graduate studies, I became fascinated by the technological sides of those
    projects, and I decided to change careers in order to channel my creative
    energies through code.
  </div>

  <p>{{- site.description | escape -}}</p>

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->
</div>
